.wrapper {
  margin: auto;
  text-align: center;
  width: 600px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button, input {
    width: 60%;
  }
}

.buttonBox {
  padding: 1em;
}
