.box {
  width: 140px;
  height: 140px;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Nothing You Could Do', cursive;

  &:hover {
    background: rgba(#5a7aca, .11);
  }
}
