$borderSize: 3px;
$borderColor: #043cc3;

.arena {
  border: 0;
  padding: 0;
  width: 420px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  transform: rotate(-5deg);
  justify-content: space-around;

  div:nth-child(n + 4) {
    border-top: $borderSize solid fade-out($borderColor, .3);
  }

  div:nth-child(3n - 1) {
    border-left: $borderSize solid fade-out($borderColor, .1);
    border-right: $borderSize solid fade-out($borderColor, .4);
  }
}
